@import "tailwindcss";

@theme {
    --color-white: #fff;
    --color-black: #000;
    --color-grey-100: #F1F1F1;
    --color-grey-200: #D5D5D5;
    --color-grey-50: #F8F8F8;
    --color-sky-300: #AACAE6;
    --color-sky-200: #E5EFF7;
    --color-sky-100: #F6FAFC;
    --color-navy-50: #CCD1D8;
    --color-navy-100: #012053;
    --color-navy-200: #001333;
    --color-teal-300: #00B3BE;
    --color-teal-200: #BEEEF2;
    --color-teal-100: #D5F5F8;

    --breakpoint-3xl: 1920px;
    --breakpoint-2xl: 1440px;
    --breakpoint-xl: 1200px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 576px;
    /*--spacing: 1px;*/
    /*--body-font-family: "SweetSansPro-Bold";*/
    /*--chronicle-deck-semi: "ChronicleDeck-Semi";*/
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
